<!doctype html>
<html lang="en">
    {% include 'maps/head.html' %}
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
<body>
    {% include 'maps/navbar.html' %}
    <div class="pt-6 container col-12">
        <div class="h1 text-center p-4">
            Lista de destinos
        </div>
        <div class="col-5 text-center">
        <select id="filter_input" style="color:rgb(80,80,80)" name="filter" class="form-select form-select-lg mb-3" aria-label="Default select example">
            <option value="distrito">Distrito</option>
            <option value="nombre">Nombre</option>
            <option value="categoria">Categoria</option>
            <option value="tipo_categoria">Tipo</option>
            <option value="subtipo_categoria">Subtipo</option>
        </select>
        <div class="input-group mb-3">
            <input id="value_input" style="color:rgb(80,80,80)" type="text" name="value" class="form-control" autocomplete="off">
        </div>
        </div>
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Distrito</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Tipo</th>
                <th scope="col">Subtipo</th>
                <th scope="col">Más</th>
              </tr>
            </thead>
            <tbody id="table_body">
            </tbody>
        </table>
    </div>
    <div class="col-12 text-center" id="q_counter">
    </div>
    {% include 'maps/footer.html' %}
    <script>
        function cargarDatos()
        {
            $.ajax({
                url: '/destinations/ajaxQuery',
                data: {
                    'filter': $("#filter_input").val(),
                    'value': $("#value_input").val()
                },
                dataType: 'json',
                success: function (data) 
                {   
                    $("#table_body").empty();
                    let counter = 0;
                    for(let i=0 ; i<data.length && i<30 ; i++)
                    {
                        counter++;
                        $("#table_body").append(
                            $('<tr/>')
                            .append($("<td/>").text(data[i].distrito))
                            .append($("<td/>").text(data[i].nombre))
                            .append($("<td/>").text(data[i].categoria))
                            .append($("<td/>").text(data[i].tipo_categoria))
                            .append($("<td/>").text(data[i].subtipo_categoria))
                            .append($("<td/>")
                                .append($("<button/>")
                                    .text("Ver")
                                    .attr("class","btn btn-lg btn-primary hover-top")
                                    .attr("id", "btnModal")
                                    .attr("data-codigo" , data[i].codigo)
                                    .click(verDestino)
                                )
                            )
                        );
                    }
                    $("#q_counter").empty();
                    if(data.length != 0)
                    {
                        if(data.length > 30)
                            $("#q_counter").text("Mostrando "+counter+" de "+data.length+" resultados");
                        else
                            $("#q_counter").text("Mostrando "+counter+" resultado(s)");
                    }
                    else
                    {
                        $("#q_counter").append($("<div/>")
                            .attr("class" , "alert alert-warning")
                            .attr("role", "alert")
                            .text("No se han encontrado coincidencias")
                        );
                    }
                }
            });
        }
        $("#value_input").keyup(function () {if($("#value_input").val().length >= 2)cargarDatos();});
        $("#filter_input").click(function() {if($("#value_input").val().length >= 2)cargarDatos();});
        document.addEventListener("DOMContentLoaded", function(){cargarDatos();});
    </script>
    <div id="tvesModal" class="modalContainer">
        <div class="modal-content">
            <span class="close">X</span>                                
            <div>
                <h2 id="modalTitle" class="display-4" style="margin-left:60px;">Cargando...</h2>
            </div>
            <div>
                <img id="modalImage" src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif" width="100%" style="display: block;margin: auto;border-radius: 0.5em;">
            </div>
            <div id="modalDescription">

            </div>
        </div>
    </div>
    <script>
        var modal = document.getElementById("tvesModal");
        var body = document.getElementsByTagName("body")[0];
        var btn = document.getElementById("btnModal");
        var span = document.getElementsByClassName("close")[0];

        function verDestino()
        {
            let codigo = this.dataset.codigo;
            console.log(codigo);
            modal.style.display = "block";
            body.style.position = "static";	body.style.height = "100%";
            body.style.overflow = "hidden";
            
            //Ajax Query
            $.ajax(
            {
                url: '/destinations/see/'+codigo,
                dataType: 'json',
                success: function (data) 
                {   
                    let calificacion = Number.parseFloat(data.calificacion);
                    $("#modalTitle").empty();
                    $("#modalImage").empty();
                    $("#modalDescription").empty();
                    
                    $("#modalTitle").text(data.nombre);
                    $("#modalImage").attr("src", data.url);
                    $("#modalDescription")
                    .append($("<hr/>"))
                    
                    .append($("<span/>").attr("class", "lead text-dark").text("Distrito: "))
                    .append($("<span/>").attr("class","text-secondary").text(data.distrito))
                    .append($("<br/>"))
                    
                    .append($("<span/>").attr("class", "lead text-dark").text("Categoria: "))
                    .append($("<span/>").attr("class","text-secondary").text(data.categoria))
                    .append($("<br/>"))
                    
                    .append($("<span/>").attr("class", "lead text-dark").text("Tipo: "))
                    .append($("<span/>").attr("class","text-secondary").text(data.tipo_categoria))
                    .append($("<br/>"))

                    .append($("<span/>").attr("class", "lead text-dark").text("Subtipo: "))
                    .append($("<span/>").attr("class","text-secondary").text(data.subtipo_categoria))
                    .append($("<br/>"))
                    
                    .append($("<hr/>"))
                    .append($("<div/>")
                        .attr("class", "d-inline float-left")
                        .append($("<span/>").attr("class", "lead text-dark").text("Calificacion: "))
                        .append($("<span/>").attr("class","text-secondary").attr("id","valorCalificacion").text(calificacion.toFixed(2))))
                    .append($("<div/>")
                        .attr("id", "calificacion")
                        .attr("data-calificacion", data.calificacion)
                        .attr("class", "float-right")
                        .append($("<span/>").attr("class", "estrella glyphicon glyphicon-star-empty").attr("data-puntos", "1").attr("style","color:#FFFF00").click(calificar))
                        .append($("<span/>").attr("class", "estrella glyphicon glyphicon-star-empty").attr("data-puntos", "2").attr("style","color:#FFFF00").click(calificar))
                        .append($("<span/>").attr("class", "estrella glyphicon glyphicon-star-empty").attr("data-puntos", "3").attr("style","color:#FFFF00").click(calificar))
                        .append($("<span/>").attr("class", "estrella glyphicon glyphicon-star-empty").attr("data-puntos", "4").attr("style","color:#FFFF00").click(calificar))
                        .append($("<span/>").attr("class", "estrella glyphicon glyphicon-star-empty").attr("data-puntos", "5").attr("style","color:#FFFF00").click(calificar))
                        .append($("<br/>"))
                        .append($("<a/>")
                            .attr("class", "btn btn-primary")
                            .text("Calificar")
                            .attr("data-codigo", codigo)
                            .click(enviarCalificacion))
                    )
                    let estrellas = document.getElementsByClassName("estrella");
                    for(let i=0 ; i<estrellas.length ; i++)
                    {
                        if(i < calificacion)
                            estrellas[i].className = "estrella glyphicon glyphicon-star";
                        else
                            estrellas[i].className = "estrella glyphicon glyphicon-star-empty";
                    }
                }
            });
        }

        span.onclick = function() 
        {
            modal.style.display = "none";
            body.style.position = "inherit";
            body.style.height = "auto";
            body.style.overflow = "visible";
            $("#modalTitle").text("Cargando...");
            $("#modalImage").attr("src", "https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif");
        }
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";body.style.position = "inherit";
                body.style.height = "auto";body.style.overflow = "visible";
                $("#modalTitle").text("Cargando...");
                $("#modalImage").attr("src", "https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif");
            }
        }
        
        let calificacion = 0;
        function calificar()
        {
            let estrellas = document.getElementsByClassName("estrella");
            calificacion = Number.parseInt(this.dataset.puntos);
            for(let i=0 ; i<estrellas.length ; i++)
            {
                if(i < calificacion)
                    estrellas[i].className = "estrella glyphicon glyphicon-star";
                else
                    estrellas[i].className = "estrella glyphicon glyphicon-star-empty";
            }
        }
        function enviarCalificacion()
        {
            let codigo = Number.parseInt(this.dataset.codigo);
            $.ajax(
            {
                type:"POST",
                url: '/destinations/calificate/'+codigo+"/",
                data: 
                {
                    'calificacion':calificacion,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) 
                {
                    $("#valorCalificacion").text(data.calificacion.toFixed(2));
                }
            });
        }

    </script>
</body>
</html>